@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

nav {
    background-color: #1F2937;
    padding: 20px 18%;
    display: flex;
    justify-content: space-between;
}

nav p {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

nav a {
    text-decoration: none;
}

nav li {
    list-style-type: none;
    display: inline;
}

.nav-link {
    font-size: 18px;
    color: #cfcccc;
    text-decoration: none;
    margin: 0px 10px;
}

/* Hero */

#hero {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 100px 18%;
}

#hero h1 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8
}

#hero p {
    font-size: 18px;
}

#hero-content, #hero-img {
    width: 48%;
}

#hero-content p {
    margin: 10px 0px;
    color: #D1D4D9;
}

#hero-img {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #6C747D;
}

#hero-img p {
    color: #F2F3F4;
}

#hero-content button {
    width: 120px;
    font-size: 18px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

#hero-content button:hover {
    cursor: pointer;
    background-color: #146bf8;
    transition: 1s;
}

/* Features */

#features {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 22%;
}

#features h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
    width: 100%;
}

#feature-blocks {
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

.feat-block {
    width: 20%;
    text-align: center;
}

.feat-block p {
    padding-top: 10px;
    color: #797979;
}

.blue-div {
    height: 150px;
    width: 100%;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

/* Quote */

#quote {
    background-color: #E4E7EB;
    padding: 80px 24%;
}

#block-quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

#quote-author {
    color: #1F2937;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
}

/* CTA */

#cta {
    padding: 10px;
    padding: 90px 18%;
}

#cta-block {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 40px 12%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#cta-block h3, #cta-block p {
    width: 100%;
}

#cta-block h3 {
    color: #F9FAF8;
    font-size: 20px;
}

#cta-block p {
    color: #e2e2e2;
    font-size: 16px;
}

#cta-block-content {
    width: 70%;
}

#cta-block button {
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    color: #F9FAF8;
    background: none;
    font-size: 18px;
    width: 120px;
    padding: 5px;
}

#cta-block button:hover {
    cursor: pointer;
    background-color: #146bf8;
    transition: 1s;
}

/* Footer */

footer {
    font-size: 18px;
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 30px 0px;
}